{% extends 'admin/admin.html.twig' %}

{% block title %}Reports
{% endblock %}

{% block body %}
	<div class="container px-6 mx-auto grid">
		<h2 class="text-center my-6 text-2xl font-semibold text-gray-700">
			Liste des clients
		</h2>


		<div class="container table-responsive py-5">
			<table class="container">
				<thead class="thead-dark">
					<tr class="mb-20">
						<th style="text-align: left;">Lastname</th>
						<th style="text-align: left;">Firstname</th>
						<th style="text-align: left;">company</th>
						<th style="text-align: left;">mail</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{user.lastname}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.company}}</td>
							<td>{{user.email}}</td>
							<td>
								<button>Modifier</button>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>


	</div>

{% endblock %}
